<div class="about">
	<h2>
		Metropolis
	</h2>
	<p>
		Metropolis is a project by <a href="http://twitter.com/trebor">Robert Harris</a>, <a href="http://twitter.com/erikswedberg">Erik Swedberg</a>, and <a href="http://twitter.com/chandyman">Nathan Chan</a>.
	</p>
	<p>
		It was submitted as part of the <a href="http://datacanvas.org">datacanvas.org</a> <em>Sense Your City Data Art Visualisation Challenge</em>. The code is available at github <a href="http://github.com/treboresque/metropolis">here</a>.
	</p>
	<p>
		It makes use of the following technologies
		<ul>
			<li>d3.js</li>
			<li>Python, Flask, PostgreSQL</li>
			<li>R</li>
		</ul>
	</p>
	<p>
    Metropolis is designed for ambient display, and is intended to draw viewers into the tranquil sense of changing data over time. Upon closer inspection, meaning becomes more clear, and unfolds into an opportunity to discover patterns and relationships inherent in the data.
	</p>
	<p>
    The display is composed of grids, one per city, hours across the top, days down the side. Each grid cell shows the value of a single sensor, aggregated over one hour. The display endlessly cycles through time and sensors.
	</p>
	<p>
    In the future we imagine alternate views of the data - to better correlate events, and the display of outliers - to highlight unusual conditions.
	</p>
</div>
