<div class="about">
	<h2>
		metropolis
	</h2>
	<p>
		metropolis is a project by <a href="http://twitter.com/trebor">Robert Harris</a>, <a href="http://twitter.com/erikswedberg">Erik Swedberg</a>, and <a href="http://twitter.com/chandyman">Nathan Chan</a>.
	</p>
	<p>
		It was submitted as part of the <a href="http://datacanvas.org">datacanvas.org</a> <em>Sense Your City Data Art Visualisation Challenge</em>. The code is available at github <a href="http://github.com/treboresque/metropolis">here</a>.
	</p>
	<p>
		It makes use of the following technologies
		<ul>
			<li>d3.js</li>
			<li>Python, Flask, PostgreSQL</li>
			<li>R</li>
		</ul>
	</p>
	<p>
		The project is intended to convey a sense of data changing over time. Each data point is one city for one sensor measurement for one hour, and a block represents a whole week. The colors are chosen based on a linear interpolation of the range of all the data for that sensor type.
	</p>
</div>
